Host gitlab.intersog.com
	PreferredAuthentications publickey
	IdentityFile ~/.ssh/id_ed25519_intersog

Host git.flex-solution.com
	PreferredAuthentications publickey
	UseKeychain yes
	IdentityFile ~/.ssh/id_ed25519_flex

Host github.com-rham
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rham
	IdentitiesOnly yes
  UseKeychain yes

Host contabo
	HostName 95.111.252.190
	User oleks
	IdentityFile ~/.ssh/id_contabo
	IdentitiesOnly yes
	UseKeychain yes

Host github.com-arbo
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_arbo
	IdentitiesOnly yes
  UseKeychain yes

Host bitbucket.org-own
	PreferredAuthentications publickey
	HostName bitbucket.org
	User git
	IdentityFile ~/.ssh/id_atlassian
	IdentitiesOnly yes
  UseKeychain yes
  WarnWeakCrypto no-pq-kex

Host bitbucket.org
	PreferredAuthentications publickey
	HostName bitbucket.org
	User git
	IdentityFile ~/.ssh/id_bids
	IdentitiesOnly yes
  UseKeychain yes
  WarnWeakCrypto no-pq-kex

Host dsp_t
	HostName 204.62.12.53
	Port 65123
	User oleksandr
	IdentityFile ~/.ssh/id_bids_servers
	IdentitiesOnly yes
  SetEnv TERM=xterm-256color

Host github.com
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rsa
	IdentitiesOnly yes

Host *
 IdentityFile ~/.ssh/id_rsa